body{
    background-image: url(fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
*{
    text-align: center;
    margin : 0.5%;
    font-size: 25px;
   
}
h1{
    font-size: 40px;
}